JSON File dan Prompt AI Assistant/WorkflowAIAgent.json
{
  "name": "WAHA Tes",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        0,
        0
      ],
      "id": "7c826663-f559-4696-ad0f-c0e750b065ef",
      "name": "WAHA Trigger",
      "webhookId": "8ea59215-fac0-4848-9856-0668a14743f4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Kamu adalah asisten AI yang menjawab dengan santai",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        656,
        0
      ],
      "id": "88058646-f25d-4736-9c19-8273301c2e91",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        272
      ],
      "id": "15e6044e-9839-4046-b490-1352e4b84f72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.payload.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        416
      ],
      "id": "aac20aa2-98cf-4808-8ada-9c2c7acbbc90",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hary.revou@gmail.com",
          "mode": "list",
          "cachedResultName": "hary.revou@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        816,
        256
      ],
      "id": "42f3cd86-bdca-4f55-82b5-8b54b54f35cf",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G3H4Vl6LhP1SeAB3Q-CkIi-8dNhv9sdm0RXnpGK8Vmc",
          "mode": "list",
          "cachedResultName": "Inventory Toko",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3H4Vl6LhP1SeAB3Q-CkIi-8dNhv9sdm0RXnpGK8Vmc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        944,
        256
      ],
      "id": "74dfc3ee-a00a-47bf-9464-85bc49dfaabd",
      "name": "Baca Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        1184,
        0
      ],
      "id": "87ad92b2-722e-40c3-a63d-b14ada21bdf5",
      "name": "Kirim Balasan",
      "credentials": {
        "wahaApi": {
          "id": "",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bbdac32-b75d-4c97-b508-1e97443e0533",
              "leftValue": "={{ ($now.ts - $json.timestamp) / 1000 }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        16
      ],
      "id": "864f8c68-cac0-4dc9-aaf2-383566ad5b6c",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Sudah pernah dikirim sebelumnya"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        352,
        272
      ],
      "id": "4c3ec32a-fa60-420b-bf74-ee5857e921a0",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Kirim Balasan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Baca Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "acbdb232-d09e-44f1-8525-584baee12ee3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99a6dd49b5f7dc92d47eb206ae55c2577c239ad33d443e437ffcda2d856ebf14"
  },
  "id": "jztNSvBpcJNWh2gD",
  "tags": []
}